@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff;
  --color-text: #1f2937;
  --color-primary: #6b46c1;
  --color-primary-hover: #553c9a;
  --color-border: #e5e7eb;
  --button-text-color: #ffffff;
}

.dark {
  --color-bg: #1f2937;
  --color-text: #d1d5db;
  --color-primary: #a78bfa;
  --color-primary-hover: #c4b5fd;
  --color-border: #374151;
  --button-text-color: #1f2937;
}
